{% extends "layout.html" %}

{% block title %}
    Home
{% endblock title %}
    
{% block content %}
<div id="main">
    <section class="sectionone">
        <div class="heading">
            <h1>Ваше вдохновение</h1>
            <div class="sliding-text">
                <h2 class="text text-cgreen">идея для декора</h2>
                <h2 class="text text-blue">новый образ</h2>
                <h2 class="text text-green">идея для садоводов</h2>
                <h2 class="text text-yellow">идея для ужина</h2>
            </div>
            <div class="dots">
                <div class="dot">
                    <div class="dotted bg-cgreen"></div>
                </div>
                <div class="dot">
                    <div class="dotted bg-blue"></div>
                </div>
                <div class="dot">
                    <div class="dotted bg-green"></div>
                </div>
                <div class="dot">
                    <div class="dotted bg-yellow"></div>
                </div>
            </div>
        </div>
        <div class="first-sec">

            <div class="items decor">
                <div class="item">
                    <div class="single-item">
                        <img src="/static/images/decor/1.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/decor/2.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/decor/2.png" alt="">
                    </div>
                </div>
                <div class="item mt-160">
                    <div class="single-item">
                        <img src="/static/images/decor/3.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/decor/4.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/decor/4.png" alt="">
                    </div>
                </div>
                <div class="item mt-240">
                    <div class="single-item">
                        <img src="/static/images/decor/5.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/decor/6.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/decor/6.png" alt="">
                    </div>
                </div>
                <div class="item mt-320">
                    <div class="single-item">
                        <img src="/static/images/decor/7.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/decor/8.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/decor/8.png" alt="">
                    </div>
                </div>
                <div class="item mt-240">
                    <div class="single-item">
                        <img src="/static/images/decor/9.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/decor/10.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/decor/10.png" alt="">
                    </div>
                </div>
                <div class="item mt-160">
                    <div class="single-item">
                        <img src="/static/images/decor/11.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/decor/12.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/decor/12.png" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="single-item">
                        <img src="/static/images/decor/13.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/decor/14.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/decor/14.png" alt="">
                    </div>
                </div>
            </div>

            <div class="items fashion">
                <div class="item">
                    <div class="single-item">
                        <img src="/static/images/fashion/1.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/fashion/2.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/fashion/2.png" alt="">
                    </div>
                </div>
                <div class="item mt-160">
                    <div class="single-item">
                        <img src="/static/images/fashion/3.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/fashion/4.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/fashion/4.png" alt="">
                    </div>
                </div>
                <div class="item mt-240">
                    <div class="single-item">
                        <img src="/static/images/fashion/5.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/fashion/6.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/fashion/6.png" alt="">
                    </div>
                </div>
                <div class="item mt-320">
                    <div class="single-item">
                        <img src="/static/images/fashion/7.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/fashion/8.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/fashion/8.png" alt="">
                    </div>
                </div>
                <div class="item mt-240">
                    <div class="single-item">
                        <img src="/static/images/fashion/9.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/fashion/10.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/fashion/10.png" alt="">
                    </div>
                </div>
                <div class="item mt-160">
                    <div class="single-item">
                        <img src="/static/images/fashion/11.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/fashion/12.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/fashion/12.png" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="single-item">
                        <img src="/static/images/fashion/13.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/fashion/14.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/fashion/14.png" alt="">
                    </div>
                </div>
            </div>

            <div class="items plants">
                <div class="item">
                    <div class="single-item">
                        <img src="/static/images/plants/1.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/plants/2.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/plants/2.png" alt="">
                    </div>
                </div>
                <div class="item mt-160">
                    <div class="single-item">
                        <img src="/static/images/plants/3.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/plants/4.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/plants/4.png" alt="">
                    </div>
                </div>
                <div class="item mt-240">
                    <div class="single-item">
                        <img src="/static/images/plants/5.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/plants/6.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/plants/6.png" alt="">
                    </div>
                </div>
                <div class="item mt-320">
                    <div class="single-item">
                        <img src="/static/images/plants/7.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/plants/8.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/plants/8.png" alt="">
                    </div>
                </div>
                <div class="item mt-240">
                    <div class="single-item">
                        <img src="/static/images/plants/9.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/plants/10.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/plants/10.png" alt="">
                    </div>
                </div>
                <div class="item mt-160">
                    <div class="single-item">
                        <img src="/static/images/plants/11.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/plants/12.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/plants/12.png" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="single-item">
                        <img src="/static/images/plants/13.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/plants/14.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/plants/14.png" alt="">
                    </div>
                </div>
            </div>
            
            <div class="items food">
                <div class="item">
                    <div class="single-item">
                        <img src="/static/images/food/1.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/food/2.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/food/2.png" alt="">
                    </div>
                </div>
                <div class="item mt-160">
                    <div class="single-item">
                        <img src="/static/images/food/3.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/food/4.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/food/4.png" alt="">
                    </div>
                </div>
                <div class="item mt-240">
                    <div class="single-item">
                        <img src="/static/images/food/5.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/food/6.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/food/6.png" alt="">
                    </div>
                </div>
                <div class="item mt-320">
                    <div class="single-item">
                        <img src="/static/images/food/7.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/food/8.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/food/8.png" alt="">
                    </div>
                </div>
                <div class="item mt-240">
                    <div class="single-item">
                        <img src="/static/images/food/9.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/food/10.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/food/10.png" alt="">
                    </div>
                </div>
                <div class="item mt-160">
                    <div class="single-item">
                        <img src="/static/images/food/11.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/food/12.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/food/12.png" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="single-item">
                        <img src="/static/images/food/13.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/food/14.png" alt="">
                    </div>
                    <div class="single-item">
                        <img src="/static/images/food/14.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-grad">
            <div class="bg-rect">
                <a href="" class="circle">
                    <i class="ri-arrow-down-s-line"></i>
                </a>
            </div>
            <h3 class="explore-more">Вот как это работает <i class="ri-arrow-down-s-line"></i></h3>
        </div>
    </section>
    <section class="yellow-light">
        <div class="sub-sec">
            <div class="another-sec">
                <a class="sm" href="">
                    <img src="/static/images/sec/1.png" alt="">
                </a>
                <a href="" class="md">
                    <img src="/static/images/sec/2.png" alt="">
                </a>
                <a href="" class="lg">
                    <img src="/static/images/sec/3.png" alt="">
                </a>
                <a href="" class="xl">
                    <img src="/static/images/sec/4.png" alt="">
                </a>
                <a href="" class="content-box">
                    <h3><i class="ri-search-line"></i>легкий куриный ужин</h3>
                </a>
            </div>
        </div>

        <div class="sub-sec">
            <div class="another-sec2">
                <h1>Поиск идеи</h1>
                <h6>Что вы хотите попробовать дальше? Подумайте о чем -то, что вам нужно, - например, «легкий куриный ужин» -
                    и
                    Посмотрите, что вы найдете.</h6>
                    <a href="{% url 'posts:list' %}">
                        <button>Исследовать</button>
                    </a>
                    
            </div>
        </div>
    </section>

    <section class="blue-light">
        <div class="sub-sec-swap">
            <div class="another-sec2-swap">
                <h1>Сохраните идеи, которые вам нравятся</h1>
                <h6>Соберите свои любимые, чтобы вы могли вернуться к ним позже.</h6>
                <a href="{% url 'posts:list' %}">
                    <button>Исследовать</button>
                </a>
            </div>
        </div>
        <div class="sub-sec-swap">
            <a class="xs1" href="">
                <img src="/static/images/sec/1.png" alt="">
                <h2 class="sec-swap">Настил моей мечты</h2>
            </a>
            <a href="" class="md1 one">
                <img src="/static/images/sec/1.png" alt="">
                <h2 class="sec-swap">Моя скандинавская спальня</h2>
            </a>
            <a href="" class="md1 two">
                <img src="/static/images/sec/2.png" alt="">
                <h2 class="sec-swap">Подавать мои напитки в стиле</h2>
            </a>
            <a href="" class="md1 three">
                <img src="/static/images/sec/3.png" alt="">
                <h2 class="sec-swap">Обновление нашей ванной комнаты</h2>
            </a>
            <a href="" class="xl1">
                <img src="/static/images/sec/7.png" alt="">
                <h2 class="sec-swap">вайб вашего будущего дома</h2>
            </a>
        </div>
    </section>
    <section class="sec-3">
        <div class="left-sec">
            <div class="bg-left">
                <img src="https://s.pinimg.com/webapp/shop-de8ddf10.png" alt="">
            </div>
            <div class="inside-left">
                <img src="/static/images/sec/story.png" alt="" class="big-img">
                <img src="/static/images/sec/circle-fashion.png" alt="" class="sm-img">
                <div class="heads">
                    <h4>Scout the City</h4>
                    <h5>56,7K подписчиков</h5>
                </div>
            </div>
        </div>
        <div class="right-sec">
            <h1>Смотри, попробуй, сделай это</h1>
            <h6>Лучшая часть Pinterest открывает<br>Новые вещи и идеи от людей<br>во всем мире.
            </h6>
            <a href="{% url 'posts:list' %}">
                <button>Исследовать</button>
            </a>
        </div>
    </section>
</div>
{% endblock  %}
    