<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django App
        {% endblock  %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script> 
</head>

<body>
    <nav>
        <a class="home-button" href="/">Home Page</a>
        <a class="about-button" href="/about">About us</a>
        <a class="feed-button" href="{% url 'posts:list' %}">Feed</a>

        {% if user.is_authenticated %}
            <a class="newpost-button" href="{% url 'posts:new-post' %}">New Post</a>
            <span class="username">{{ user.username }}</span>
            <form class="logout" action="{% url 'users:logout' %}" method="post">
                {% csrf_token %}
                <button class="logout-button">Logout</button>
            </form>
        {% else %}
            <a class="register-button" href="{% url 'users:register' %}">SignUp</a>
            <a class="login-button" href="{% url 'users:login' %}">Login</a>
        {% endif %}
    </nav>
    <main>
        {% block content %}
            
        {% endblock  %}
    </main>
</body>
</html>